@charset "UTF-8";
body {
  background-color: #1f1f28;
  margin: 0;
}

header {
  background-color: #31313f;
  box-shadow: 0 3px 5px rgba(14, 13, 13, 0.199);
  /*query*/
}
header .navbar {
  background-color: 31313f;
}
header .navbar #logo {
  height: 70px;
  width: 70px;
}
header .navbar .link-nav {
  justify-content: flex-end;
  align-items: center;
}
header .navbar svg {
  color: #000;
}
header .navbar #cuenta-carrito {
  font-size: 8px;
  background-color: orangered;
  border-radius: 100%;
  display: inline-block;
  width: 16px;
  text-align: center;
}

.productos {
  text-align: center;
}
.productos h2 {
  margin-top: 30px;
  color: #ae77f8;
  text-shadow: 0 0 5px #822ef5;
}
.productos #contenedor-productos {
  margin-top: 30px;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  row-gap: 30px;
  transition: 200ms;
}
.productos #contenedor-productos :hover {
  translate: 0 -10px;
  box-shadow: 0 10px 5px rgba(129, 46, 245, 0.2862745098);
  transition: 200ms;
}
.productos #contenedor-productos .producto {
  color: #ae77f8;
  padding: 20px;
  border: solid 1px;
  border-radius: 10px;
  text-align: center;
  background-color: #31313f;
}
.productos #contenedor-productos .producto img {
  width: 100%;
}
.productos #contenedor-productos .producto .btn {
  translate: none;
  color: white;
  background-color: #822ef5;
}

.row h2 {
  margin-top: 30px;
  color: #ae77f8;
  text-align: center;
}

.carrito #contenedor-carrito {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 30px;
}
.carrito #contenedor-carrito #carro-vacio {
  color: white;
  text-align: center;
}
.carrito #contenedor-carrito .productos-carrito {
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  gap: 20px;
  color: #ae77f8;
  padding: 10px;
  border: solid 1px #822ef5;
  border-radius: 10px;
}
.carrito #contenedor-carrito .productos-carrito img {
  height: 200px;
}
.carrito #contenedor-carrito .productos-carrito #desc-carrito {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.carrito #contenedor-carrito .productos-carrito #desc-carrito button {
  color: white;
  background-color: #822ef5;
  border: #822ef5;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  align-items: center;
  align-content: center;
}

#totales {
  margin: 20px;
  padding: 20px;
  border: solid 1px #822ef5;
  border-radius: 10px;
  color: white;
  text-align: center;
  align-content: center;
  max-height: 300px;
  position: -webkit-sticky; /* Para compatibilidad con Safari */
  position: sticky;
  top: 20px; /* Se fija cuando alcanza la parte superior de la ventana */
  z-index: 1000; /* Para que esté por encima de otros elementos */
}
#totales button {
  color: white;
  border: #822ef5;
  background-color: #822ef5;
  border-radius: 4px;
  margin: 5px;
}

.row {
  --bs-gutter-x: 0;
}

#welcome {
  min-height: 120px;
  padding: 20px;
  height: auto;
  color: white;
  background: linear-gradient(to right, #822ef5, #c76cf5);
  text-align: center;
  align-content: center;
}

.inicio {
  background-image: url(/media/background.png);
  background-position: center;
  background-size: cover;
  height: 100vh;
  color: #6900f1;
  text-align: center;
  align-content: center;
}
.inicio .bienvenido {
  background-color: rgba(255, 255, 255, 0.575);
  width: 50%;
  margin: auto;
}

/*npm run watch-css* - para iniciar sass*/

/*# sourceMappingURL=main.css.map */
